:root {
    --color-principal: rgb(0,71,81);
    --color-secundario: rgb(235, 235, 235);
    --color-yellow: rgba(243, 192, 40);
    --color-white: rgb(255, 255, 255);
    --color-box-shadow: rgba(0, 0, 0, 0.2);
    --color-hover: rgba(34, 57, 120, 0.94);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-secundario);
}

header {
    position: relative;
    padding-top: 12px;
    padding-bottom: 2px;
    text-align: center;
    background-color: var(--color-principal);
    color: var(--color-white);
}

h1 {
    font-size: 1.2rem;
    font-weight:400;
    color: var(--color-white);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    text-align: center;
    padding: 5px;
}

nav a {
    margin: 5px auto;
    font-size: 1rem;
    text-decoration: none;
    color: var(--color-yellow);
}

a:hover {
    text-decoration: none;
    color: var(--color-white);
}


/* =============== ASIDE ==========================*/

aside {
    width: 30%;
    position: relative;
    text-align: center;
    background-color: var(--color-white);
    color: var(--color-principal);
}

.img{
    position: relative;
    margin: auto;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 0%;
}

.datosContacto div svg {
    position: relative;
    width: 65%;
    margin: 0% auto 0% auto;
    border-radius: 2%;
    fill: var(--color-white);
    stroke-width:0px;
    stroke: var(--color-white);
    box-shadow: 0px 2px 10px 5px var(--color-box-shadow);
}

.imagecodigo {
    position: relative;
    width: 100%;
    height: 50%;
}

.avatar{
    position: relative;
    margin: 0% auto 0% auto;
    width: 45%;
    border-radius: 50%;
    border: solid;
    border-color: var(--color-white);
    box-shadow: 0px 0px 10px 5px var(--color-box-shadow);
}

.conjuntoPastilla{
    position: relative;
    margin: 0% auto 0% auto;
}

.nombre{
    position: relative;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.1rem;
    margin-top: 0;
}

.profesion{
    position: relative;
    font-size: 0.9rem;
    font-weight: 300;
    text-align: center;
    letter-spacing: 0.1rem;
    margin-top: 1%;
}

.redesSociales{
    position: relative;
    width:65%;
    margin: 2% auto 2% auto; 
}

.redes{
    position: relative;
    display: inline-block;
    width: 10%;
    margin: 2% auto 2% auto;
    color: var(--color-box-principal);
}

.imgRedes{
    position: relative;
    width: 75%;
    margin: 2% auto 2% auto;
}

.linea {
    width: 60%;
    height: 3px;
    margin: 2% auto;
    background-color: var(--color-principal);
}

.extra{
    position: relative;
    font-size: 0.8rem;
    font-weight: 400;
    text-align: center;
    /* letter-spacing: 0.1rem; */
    line-height: 1rem;
    border: 0px solid;
    margin: 2% auto 0% auto;
}

.datosPersonales{
    position: relative;
    font-size: 0.75rem;
    font-weight: 400;
    text-align: center;
    /* letter-spacing: 0.1rem;*/
    line-height: 1.3rem;
    margin: 2% auto 0% auto;
}

.datosPersonales div img{
    position: relative;
    width: 7%;
    margin: 5% auto 0% auto;
}

h4 {
    position: relative;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.01rem;
    margin: 0% auto 1% auto;
}
.objetivos {
    width: 55%;
    position: relative;
    font-size: 0.9rem;
    font-weight: 300;
    text-align: left;
    padding-bottom: 4%;
    margin: 0% auto 0% auto;
}


/* =============== SECTION / ARTICLE ==========================*/

section{
    position: relative;
    float:right;
    width: 70%;
    margin:0% auto;
}

.titulo {
    position: relative;
    text-align: center;
    padding-top: 3%;
    font-weight: 900;
    letter-spacing: 0.1rem;
    color: var(--color-principal);
}

hr {
    height: 0.2rem;
    width: 80%;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 5%;
    background-color: var(--color-principal);
}


#sobreMi {
    position: relative;
    width: 70%;
    margin: 0rem auto 2.5rem auto;
}
#sobreMi p{
    position: relative;
    font-size: 0.8rem;
    font-weight: 400;
    text-align: justify;
    letter-spacing: 0.05rem;
    line-height: 1rem;
    color: var(--color-principal);
    margin: 0% auto 2% auto;
}

h3 {
    position: relative;
    color: var(--color-principal);
    text-align: center;
    margin-bottom: 4%;
}

.conocimientos {
    position:relative;
    width: 80%;
    margin: auto;
}

.conocimientos .materia {
    position: relative;
    display:inline-block;
    font-size: 1rem;
    font-weight: 300;
    text-align: left;
    margin: 2% 5%;
}
.materia div p{
    font-size: 0.8rem;
    text-align: left;
    margin: 0.1rem auto;
}
.materia svg {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    fill: var(--color-yellow);
}

/* =============== EXPERIENCIA PROFESIONAL ==========================*/
.caja{
    width: 80%;
    margin: 5% auto;
    padding: 10px;
    border-radius: 5px;
    border: 3px solid var(--color-principal);    
    background-color: var(--color-white);
}

.fecha {
    position: relative;
    text-align:center;
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--color-box-principal);
}
.fecha h3{
    position: relative;
    text-align:center;
    color: var(--color-principal);
    font-size: 1rem;
    font-weight: 500;
    margin: 0% auto;
}
.fecha p{
    position: relative;
    text-align:center;
    color: var(--color-principal);
    font-size: 1rem;
    font-weight: 400;
    margin: 0% auto 3% auto;
}
.puesto {
    position: relative;
    text-align:center;
    color: var(--color-principal);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 2%;
}
.funciones {
    position: relative;
    text-align:center;
    width: 90%;
    font-size: 1rem;
    font-weight: 300;
    text-align: justify;
    color: var(--color-principal);
    margin: auto;
}


/* =============== FOOTER ==========================*/
footer {
    position: relative;
    display: inline-flex;
    width:100%;
    height: 10%;
    background-color: var(--color-principal);
}

footer div{
    margin: auto;
    font-size: 0.6rem;
    font-weight: 300;
    text-align: center;
    color: var(--color-white);
    padding: 1%;
}

.imgFooter{
    width: 0.8rem;
    margin-left: 0.4rem;
    margin-right: 0.3rem;
}

footer div a{
    text-decoration: none;
    color: var(--color-white);
}

footer div a:hover {
    text-decoration: none;
    color: var(--color-yellow);
}